.footer_1 {
    text-align: center;
    background-color: $naranjo;
    color: $blanco;
    padding: 0.5rem;
    margin-top: 2rem;
}

.footer_2 {
    background-color: $negro;
    color: $blanco;
    text-align: center;
    padding: 0.5rem
}
